@charset "utf-8";
@font-face {
    font-family: 'fonte2';
    src: url('../fonts/Courgette-Regular.ttf');
}

body {
    background-color: #000000;
    font-family: 'fonte2', sans-serif;
    text-decoration: none;
    color: rgb(218, 218, 218);
    text-align: center;
}

div#msg,#msg2 {
    color: rgb(188, 87, 255)
}

a {
    color: rgb(255, 255, 255);
}

p#btnmenu {
    margin-top: 50px;
}
a:hover {
    color: rgb(138, 0, 126);
    text-decoration: underline;
    transition: 1s;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

.bggalaxia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://assets.science.nasa.gov/dynamicimage/assets/science/missions/webb/science/2024/03/STScI-01HQP6MAB9N9NS69HBBA9RN5KK.png?w=2000&h=1698&fit=crop&crop=faces%2Cfocalpoint');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

.bgka521 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://r4.wallpaperflare.com/wallpaper/241/739/630/military-helicopters-kamov-ka-52-alligator-wallpaper-d3cad3aab8252cfd98325e63c1580251.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

ul {
    text-align: left;
    display: inline-block;
    margin-top: 0;
}

h2#aboutme {
    margin-top: 100px;
}

ul {
    list-style-type: none
}
