@charset "utf-8";
@font-face {
    font-family: 'fonte2';
    src: url('../fonts/Courgette-Regular.ttf');
}

body {
    background-color: #000000;
    font-family: 'fonte2', sans-serif;
    text-decoration: none;
    color: rgb(218, 218, 218);
    text-align: center;
}

div#msg,#msg2 {
    color: rgb(188, 87, 255)
}

a {
    color: rgb(255, 255, 255);
}

p#btnmenu {
    margin-top: 50px;
}
a:hover {
    color: rgb(138, 0, 126);
    text-decoration: underline;
    transition: 1s;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}