@charset "utf-8";
@font-face {
    font-family: 'fonte2';
    src: url('../fonts/Courgette-Regular.ttf');
}

body {
    background-color: #242424;
    font-family: 'fonte2', sans-serif;
    text-decoration: none;
    color: rgb(77, 77, 77);
    text-align: center;
}

div#msg {
    color: rgb(49, 49, 49)
}

a {
    color: rgb(49, 49, 49);
}

a:hover {
    color: rgb(64, 2, 105);
    text-decoration: underline;
    transition: 1.5s;
}

footer#rodape {
    clear: both;
    margin: 225px auto 0px auto;
}

footer#rodape p {
	text-align: center;
	color: rgb(196, 196, 196);
}

footer#rodape a {
	color: rgb(196, 196, 196);
	text-decoration: none;
}

footer#rodape a:hover {
	text-decoration: underline;
	color: rgb(64, 2, 105);
	transition: 1.5s;
}