@charset "utf-8";
@font-face {
    font-family: 'fonte2';
    src: url('./fonts/Courgette-Regular.ttf');
}

body {
    background-color: #242424;
    font: normal 12pt Arial;
    color: rgb(77, 77, 77);
}

h1,p {
    color: #b3b3b3;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div#res {
    text-align: center;
    padding: 15px;
}